-# 改行等々リファクタリング
.jumbotron
  .container.text-center
    %h1.display-5 本当に美味しいレストランをご紹介します
    %p 本当に美味しいレストランとは、食通や料理人の間で良く名前が上がるお店があり、その様なお店の事をさします。
    %p そんなお店の中から、いくつかの質問に答えて頂くだけで、あなたにオススメのレストランを見つける事が出来ます
    .col
      %button.col.btn.btn-pink-moon{"data-target" => ".bd-example-modal-lg", "data-toggle" => "modal"}
        開始する
