.modal.fade.bd-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .container.p-3.text-center
        %h3#font-size-15.p-2 本当に投稿を削除しますか？
        %button.btn.btn-primary.text-white.m-3{type: "submit"} 
          = link_to restaurant_path(restaurant.id), method: :DELETE do 
            削除する
        %button.btn.btn-secondary.m-3{"data-dismiss" => "modal", type: "button"} 閉じる
