= render partial: 'restaurants/navbar'
.container
  -if current_user.restaurants.empty?
    .card.text-center.m-2
      .card-body
        %h2.card-title.display-4 現在、投稿はありません
  - @restaurants.each do |restaurant|
    .card.text-center.m-2
      .card-body
        %h2.card-title.display-4 #{restaurant.name}
        .col
          .btn.btn-primary.col-5
            =link_to restaurant_path(restaurant.id) do
              詳細ページ
          .btn.btn-info.col-5
            =link_to edit_restaurant_path(restaurant.id) do
              編集する
  .container
    = paginate @restaurants
= render partial: 'restaurants/footer'