-# #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
-#   %ol.carousel-indicators
-#     %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
-#     %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
-#   .carousel-inner{:role => "listbox"}
-#     .carousel-item.active
-#       %img.d-block.w-100{:alt => "900x400", "data-holder-rendered" => "true", :src => "https://cdn.pixabay.com/photo/2017/08/30/17/25/restaurant-2697945_1280.jpg", :style => "width: 900px; height: 400px;"}/
-#     .carousel-item
-#       %img.d-block.w-100{:alt => "900x400", "data-holder-rendered" => "true", "data-src" => "holder.js/900x400?theme=industrial", :src => "https://cdn.pixabay.com/photo/2017/03/10/06/20/bruschetta-2131893_1280.jpg", :style => "width: 900px; height: 400px;"}/
-#   %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
-#     %span.carousel-control-prev-icon{"aria-hidden" => "true"}
-#     %span.sr-only Previous
-#   %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
-#     %span.carousel-control-next-icon{"aria-hidden" => "true"}
-#     %span.sr-only Next
.bd-example
  #carouselExampleCaptions.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleCaptions"}
      %li{"data-slide-to" => "1", "data-target" => "#carouselExampleCaptions"}
    .carousel-inner{:role => "listbox"}
      .carousel-item.active
        %img.d-block.w-100#sizefix{:alt => "First slide [900x300]", "data-holder-rendered" => "true", "data-src" => "holder.js/900x300?auto=yes&bg=777&fg=555&text=First slide", :src => "https://cdn.pixabay.com/photo/2017/05/20/08/36/panorama-of-the-landscape-2328387_1280.jpg"}/
        .carousel-caption.d-none.d-md-block
          %h3 First slide label
          %p Nulla vitae elit libero, a pharetra augue mollis interdum.
      .carousel-item
        %img.d-block.w-100#sizefix{:alt => "Second slide [900x300]", "data-holder-rendered" => "true", "data-src" => "holder.js/900x300?auto=yes&bg=666&fg=444&text=Second slide", :src => "https://cdn.pixabay.com/photo/2017/08/30/17/25/restaurant-2697945_1280.jpg"}/
        .carousel-caption.d-none.d-md-block
          %h3 Second slide label
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleCaptions", :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleCaptions", :role => "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
      %span.sr-only Next
