.card-group
  .card
    .card-body
      = image_tag "#{@restaurant.images}", class: "card-img-top", style: "heigth: 10rem"
      %h4.card-title Card title
      %p.card-text This card has supporting text below as a natural lead-in to additional content.
      %a.card-link{:href => "#!"} Card link
      %a.card-link{:href => "#!"} Another link
  .card
    .card-body
      = image_tag "asian-2970211_1280.jpg", class: "card-img-top", style: "heigth: 10rem"
      %h4.card-title Card title
      %p.card-text This card has supporting text below as a natural lead-in to additional
      %a.card-link{:href => "#!"} Card link
      %a.card-link{:href => "#!"} Another link
  .card
    .card-body
      = image_tag "kitchen-731351_1280.jpg", class: "card-img-top", style: "heigth: 10rem"
      %h4.card-title Card title
      %p.card-text This card has supporting text below as a natural lead-in to additional
      %a.card-link{:href => "#!"} Card link
      %a.card-link{:href => "#!"} Another link
