- @restaurant.comments.each do |comment|
  .card.w-50.p-2.mx-auto.mt-2
    .card-body
      %p.card-text #{comment.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M")}
      %p.card-text #{comment.name}
      %p.card-text #{sp_br comment.content}