%section#footer
  .container
    .row
      .col-xs-12.col-sm-6.col-md-6
        %h5 レストラン検索
        %ul.list-unstyled.quick-links
          %li
            %a{:href => "/"}
              %i.fa.fa-angle-double-right>
              Home
          %li
            %a{:href => "/restaurants/serch"}
              %i.fa.fa-angle-double-right>
              検索
          %li
            %a{:href => "/users/sign_up"}
              %i.fa.fa-angle-double-right>
              ユーザー登録
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              Get Started
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              Videos
      .col-xs-12.col-sm-6.col-md-6
        %h5 製作者リンク
        %ul.list-unstyled.quick-links
          %li
            %a{:href => "https://qiita.com/fukaya_path"}
              %i.fa.fa-angle-double-right>
              Qiita
          %li
            %a{:href => "https://twitter.com/fukaya_path"}
              %i.fa.fa-angle-double-right>
              twitter
          %li
            %a{:href => "https://github.com/FukayaHiroki/restaurantAPP"}
              %i.fa.fa-angle-double-right>
              Github アプリのリポジトリ
          %li
            %a{:href => "https://github.com/FukayaHiroki"}
              %i.fa.fa-angle-double-right>
              github mypage
          %li
            %a{:href => "https://www.wantedly.com/users/83675833"}
              %i.fa.fa-angle-double-right>
              Wantedly